@font-face {
    font-family: 'Hammersmith';
    src: url('/font/HammersmithOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Solway';
    src: url('/font/Solway-ExtraBold.ttf') format('truetype');
}


@font-face {
    font-family: 'Space';
    src: url('/font/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

/*title style*/
.navbar-brand {
    font-family: 'Hammersmith', sans-serif;
    font-size: 27px;
    padding-right: 10px;
    color: white;
}

/*search bar style*/
.form-control {
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    color: #5C5C5C;
    font-weight: bold;
    border-radius: 0;
    height: 30px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.custom-button {
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: 'Space', sans-serif;
    font-size: 15px;
    margin-right: 10px;

}

#background-caption h1 {
    font-size: 160px;
    font-family: 'Hammersmith', sans-serif;
    font-weight: 550;
    padding-top: 5%;
    padding-bottom: 10%;
}

#background-caption p {
    font-size: 20px;
    padding: 3% 0;
    font-family: 'Solway', sans-serif;
}

.whitebutton {
    padding: 13px 28px 13px 28px;
    color: black;
    font-size: 18px;
    background-color: white;
    font-weight: 600;
    font-family: 'Space', sans-serif;
}

.background {
    background: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    height: auto;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

body {
    background-color: #F5F5EF;
}

.container {
    padding-top: 7%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    /* Reduce the gap between grid items */
    max-width: 95%;
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Center the container horizontally */
}

.text-column {
    grid-column: span 1;
    /* Span 2 columns for text */
    max-width: 90%;
    text-align: justify;
}

.text-column h2 {
    font-size: 50px;
    font-family: 'Hammersmith', sans-serif;
}

.text-column p {
    font-size: 17px;
    font-family: 'Space', sans-serif;
    font-weight: 600;
}

.image-box {
    text-align: center;
    margin: 0;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.image-box p {
    font-family: 'Hammersmith', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.signUp {
    display: flex;
    align-items: left;
    max-width: 100%;
    height: 90vh;
}

.image-signUp img {
    max-height: 100%;
}

.text-signUp {
    padding-left: 5%;
    display: flex;
    flex-direction: column; /* Alinear el contenido verticalmente */
}

.text-signUp h2 {
    font-size: 50px;
    font-family: 'Hammersmith', sans-serif;
}

.text-signUp p {
    font-size: 17px;
    font-family: 'Space', sans-serif;
    font-weight: 600;
}

.text-signUp a {
    font-size: 17px;
    color: black;
    text-decoration: underline;
}

#sign {
    font-size: 20px;
    font-weight: 599;
    font-family: 'Hammersmith', sans-serif;
    padding-top: 30px;
    margin-bottom: 5px;
}

#textsigup {
    padding-bottom: 50px;
}

#signupbar {
    height: 37px;
}

#signupbarlast {
    height: 37px;
    margin-bottom: 40px;
}

#blackbutton {
    display: inline-block;
    padding: 8px 24px;
    color: white;
    font-size: 18px;
    background-color: black;
    font-weight: 400;
    font-family: 'Space', sans-serif;
    text-decoration: none;
    border-radius: 0;
    border: none;
}

.custom-modal {
    background-color: #F5F5EF;
}

.modal-content {
    padding: 0;
}

.modal-header .close {
    position: absolute;
    top: 15px;
    right: 25px;
}

#blackbuttonlogin {
    padding: 4px 28px 4px 28px;
    color: white;
    font-size: 16px;
    background-color: black;
    font-weight: 400;
    font-family: 'Space', sans-serif;
    text-decoration: none;
    border-radius: 0;
    margin: 15px
}

#modaltitle{
    font-size: 55px;
    padding-top: 5%;;
    padding-bottom: 0;
}

.modal-header{
    padding-bottom: 0;
    border: none;
}

#register{
    font-size: 20px;
    font-weight: 599;
    font-family: 'Hammersmith', sans-serif;
    padding-top: 5px;
}
.modal-body{
    padding-top: 0;
}
#textlogin{
    padding-bottom: 20px;
}



.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 50px;
    padding-top: 50px;
}

.about h2{
    font-size: 40px;
    font-family: 'Hammersmith', sans-serif;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-container {
    margin-left: 50px;
    flex: 0 0 33%; /* Cambiado de 25% a 33% */
    max-height: auto;
    overflow: hidden;
    margin-right: 20px; /* Añadido margen derecho para separar la imagen del texto */
}

.image-container img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 550px;
}

.text-container {
    flex: 1;
    padding: 10px;
    text-align: justify;
    
}

.text-container p {
    margin-left: -100px;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Space', sans-serif;
    font-weight: 600;
}

.edit-button {
    padding: 12px 24px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Space', sans-serif;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    margin-top: 10px;
}

.username {
    padding-top: 50px; 
    padding-left: 50px; 
    font-family: 
    'Hammersmith', sans-serif;
    font-size: 60px;
}

.text-container2 h1{
    margin-left: -100px;
    margin-right: 50px; 
    font-family: 'Hammersmith', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
}

.text-container2 p {
    margin-left: -100px;
    margin-right: 50px;
    padding-top: 50px; 
    font-size: 30px;
    font-family: 'Space', sans-serif;
}

.button-container {
    display: flex;
    padding-top: 150px; 
    margin-left: -100px;
}

.button-container button {
    margin-right: 20px; /* Ajusta el margen entre los botones */
    font-family: 'Space', sans-serif;
}