<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Bakes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../controllers/home.js"></script>
    <script src="../controllers/admin.js"></script>
    <script src="../controllers/user.js"></script>
    <link rel="stylesheet" href="../views/styles/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm" style="background-color: rgb(0, 0, 0);">
        <a class="navbar-brand" href="#home">HOME BAKES</a>
        <div class="flex-grow-1">
            <form class="form-inline my-2 my-sm-0">
                <input class="form-control col-4" type="text" placeholder="Look for a recipe">
                <button class="custom-button">Search</button>
            </form>
        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="custom-button">Recipes</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="custom-button" onclick="ShowLogIn()">Log In</button>
                </li>
            </ul>
        </div>
    </nav>
    <section aria-labelledby="home" role="region">
        <div id="background" class="background">
            <div id="background-caption">
                <p>ANYONE CAN COOK</p>
                <h1>HOME BAKES</h1>
                <a class="whitebutton" href="#LogIn" onclick="ShowRegister()">Bake with us</a>
            </div>
        </div>
    </section>

    <section aria-labelledby="homeBackgound" role="region">
        <div id="about" class="about">
            <div class="container">
                <div class="text-column">
                    <h2>RECIPES FOR EVERYONE</h2>
                    <p>Our mission is to make baking accessible and enjoyable for everyone, regardless of skill level.
                        Join our community to discover new creations or share your favorite recipes with the world!</p>
                </div>
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1614873988270-793c5b9e75c9?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Image 1">
                    <p>MOUTHWATERING APPETIZERS</p>
                </div>
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1622646547410-57de837af350?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Image 2">
                    <p>WHOLESOME MAINS</p>
                </div>
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1469533778471-92a68acc3633?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Image 3">
                    <p>SWEET ENDINGS</p>
                </div>
            </div>
        </div>
    </section>

    <section id="dynamic-content"></section>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>