<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Bakes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../views/styles/styles.css">

    <script src="../controllers/home.js"></script>
    <script src="../controllers/recipe_control.js"></script>
    <script src="../controllers/recipes_explorer.js"></script>
        
</head>

<body>
    <nav class="navbar navbar-expand-sm" style="background-color: rgb(0, 0, 0);">
        <a class="navbar-brand" href="/">HOME BAKES</a>
        <div class="flex-grow-1">
            <form class="form-inline my-2 my-sm-0">
                <input class="form-control col-4" type="text" placeholder="Look for a recipe">
                <button class="custom-button">Search</button>
            </form>
        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="custom-button" onclick='window.location.href="http://localhost:3000/user/favorites"'>Favorite</button>
                </li>
                <li class="nav-item">
                    <!-- <button type="button" class="custom-button">Create</button> -->
                    <button type="button" class="custom-button" onclick='window.location.href="http://localhost:3000/user/new_recipe"'>Create</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="custom-button" onclick='window.location.href="http://localhost:3000/user/profile"'>Profile</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="trending-title-container text-center mt-5 container-lg">
        <h1 class="trending-title">TRENDING RECIPES</h1>
        <p class="subtitle">Most liked by the community!</p>
        <div id="tags-container" class="mb-3"></div>
        <div id="recipesContainer" class="row"></div>
    </div>

    <!-- JavaScripts -->
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetchAllRecipes();
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>